/*******************************************************************************
 * _base.scss

 * Base styles define the default look for HTML and common Drupal elements.
 *
 * These rules will generally be made up of element selectors for HTML elements
 * such as headings, paragraphs and lists. Common Drupal elements such as form
 * items, collapsible fieldsets and messages should be included in this partial.
 *
 * The styleguide module (http://drupal.org/project/styleguide) gives you a good
 * overview of Drupals common elements for styling. By setting a solid baseline
 * before adding any more specific customisations you ensure that as any new
 * features are added they will be correctly styled without any extra work.
 ******************************************************************************/

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


html{
  font-size: 62.5%;
}

body{
  font-size: 100%;
  @include font-size($basefontsize);
  font-family: $basefontfamily;
  line-height: $baselineheight;
}

a{
  text-decoration: none;
  color: $linkcolor;
  &:hover{
    color: $linkcolorhover;
  }
}

img{
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6{
  font-family: $headingfont;
}

.menu{
  @include zero;
  .expanded, .collapsed, .leaf{
    list-style-image: none;
    list-style-type: none;
  }
}

// Header

.l-header{
  background: #f0f0f0;
  border-bottom: 1px solid #ddd;
}

// Homepage

.front{
  h1.page-title{
    display: none;
  }
}